#main h1
         {border-bottom: 1px black solid; 
		 width: 90%; 
		 font: 24px/1.5em 黑体;
		  margin: 40px;}
#main2 h1{
	font: 40px/1.5em 黑体;
	 margin: 20px;
	 color: white;}
.lft_img{
	float: left;
	 margin: 20px 50px;}
.lft_img img {
	width: 300px; 
	height: 400px;
	margin-left: 90px;}
.rgt_txt{
	width: 600px;
	 height: 100px; 
	 float: left; 
	 text-align: center;
	 margin-top: 30px;}
.rgt_txt p,.lft_txt p{ 
	font: 20px/1.4 隶书;
	 margin-bottom: 1.6em;}
.rgt_img{ 
	float: left;}
.rgt_img img{
	width: 480px;
	 height: 350px;}
.lft_txt{ 
	width: 400px;
	 height: 200px;
	  float: left; 
	  margin: 0px 40px; }
.clear{
	clear: both;}
#JJ{
	width: 35px;
	 height: 20px;
	  background-color: darkcyan;
	   text-align: center;
	   color: white;
	   border-radius: 50px;
	   font-size: 80%;
	   margin-left: 280px;}
#JJ2{
	width: 70px;
	 height: 20px;
	  background-color: darkcyan;
	   text-align: center;
	   color: white;
	   border-radius: 50px;
	   font-size: 80%;
	   margin-left: 280px;}
#JJ4{
	color: lightpink;}
#JJ5{
	width: 35px; 
	height: 20px;
	 background-color: darkcyan;
	  text-align: center;
	  color: white;
	  border-radius: 50px;
	  font-size: 80%;
	  margin-left: 25px;}
