body {text-align: center;
				background-image:url(../js/ywj/bejing.jpg);
			}
			.bread {
				text-align: left;
				border-bottom: 1px black dotted;
				}
			.nav {text-align: center;
				background-image: url(../js/ywj/bejing2.jpg);
				font-size:40px;
				font-family: 楷体;
				line-height: 2;
			}
			a {text-decoration: none;
			color: blue; text-decoration: none;
			}
			a:hover {color: crimson; text-decoration: underline;}
			a:active {color: gray; text-decoration: none;}
			.pics{width: 450px;
			       height: 400px;
			 	  margin: 20px;}
			p {
				font-family: 黑体;
				font-size: x-large;
				font-style: normal;
				}